# Statistics

This ~~simple~~ program is used for computing the distribution of data.

Devoted to fulfill my Statistics assignment.

In [1]:
from statistics import *

# Data
---

By Default the progam has data that created from [here](https://github.com/samayo/country-data/blob/master/src/country-avg-male-height.json). To display the data I create a function called `cetak()`.

### cetak()

In [2]:
cetak()

170.20 171.30 176.30 177.00 172.00 165.60 176.60 169.50 160.30 170.00
174.30 169.20 168.30 169.50 177.60 178.30 170.40 178.80 170.30 175.80
177.10 178.40 174.10 170.00 177.40 169.80 175.70 168.50 175.30 179.80
162.30 161.50 170.60 165.40 175.00 175.00 173.20 172.80 168.60 174.20
175.00 178.00 166.00 166.00 172.50 167.50 166.40 170.70 181.00 175.50
165.00 163.80 179.70 167.00 169.00 164.30 162.00 176.00 170.50 172.00
175.00 173.00 176.50 166.60 178.10 170.00 171.00 172.00 166.00 179.30
176.50 171.00 169.30 166.40 170.30 174.10 175.00 175.40 176.40 171.80
173.40 169.00 162.10

### masuk([*Path*])
This function is used if you want to enter a new set of data. Without `Path` declared, you can enter the data one by one manually.

In [3]:
masuk()
cetak()

Masukkan jumlah data: 10
#  1 | 7
#  2 | 38
#  3 | 46
#  4 | 14
#  5 | 14
#  6 | 31
#  7 | 42
#  8 | 24
#  9 | 2
# 10 | 14
 7.00 38.00 46.00 14.00 14.00 31.00 42.00 24.00  2.00 14.00


Program will separate data by new line. So, make sure you followed the format file, e. g. [contoh_data.txt](contoh_data.txt).

In [4]:
masuk('contoh_data.txt')
cetak()

 7.00 38.00 46.00 14.00 31.00 42.00 24.00  2.00 14.00 21.00
 1.00 11.00 49.00 30.00 45.00 10.00 40.00  5.00 31.00 48.00
 9.00 27.00 31.00 25.00 22.00 10.00 49.00  3.00 44.00 18.00
43.00 49.00 21.00 34.00 31.00 37.00 17.00 14.00 19.00  2.00
43.00 35.00 14.00  9.00 38.00 40.00 30.00 50.00  3.00 19.00

### reset()

This function will reset data to default data.

In [6]:
reset()
cetak()

170.20 171.30 176.30 177.00 172.00 165.60 176.60 169.50 160.30 170.00
174.30 169.20 168.30 169.50 177.60 178.30 170.40 178.80 170.30 175.80
177.10 178.40 174.10 170.00 177.40 169.80 175.70 168.50 175.30 179.80
162.30 161.50 170.60 165.40 175.00 175.00 173.20 172.80 168.60 174.20
175.00 178.00 166.00 166.00 172.50 167.50 166.40 170.70 181.00 175.50
165.00 163.80 179.70 167.00 169.00 164.30 162.00 176.00 170.50 172.00
175.00 173.00 176.50 166.60 178.10 170.00 171.00 172.00 166.00 179.30
176.50 171.00 169.30 166.40 170.30 174.10 175.00 175.40 176.40 171.80
173.40 169.00 162.10

## Distribusi Frekuensi

To make *Distribusi Frekuensi* table you need some requirements, such as:
- *Jumlah Data* (Data's Length)
- *Nilai Tertinggi* (Maximum Datum)
- *Nilai Terendah* (Minimun Datum)
- *Jangkauan* (Range/Interval)
- *Jumlah Kelas* (Number of Classes)
- *Lebar Kelas* (Width Class)

In [7]:
menu_df()

Distribusi Frekuensi
Jumlah Data  :    83
Maximum      : 181.0
Minimum      : 160.3
Jangkauan    :  20.7
Jumlah Kelas :     8
Lebar Kelas  :     3

Please note that you need to check if all the data have already in one of classess. If not, then you need to fix it manually. In this case, you have to add the value of *Batas Atas*.

In some cases, you have to change the value of *Jumlah Kelas* [TODO].

In [8]:
tabel()

+-------------------------------------------------------------------------------------------------+
| No |     Kelas     | Titik Tengah | Frekuensi |  F. Relatif |  F. Kumulatif |       F. RK       |
+-------------------------------------------------------------------------------------------------+
|  1 | 160.0 - 162.0 |       161.00 |         3 |       3.6 % |     0 |    83 |   0.0 % | 100.0 % |
|  2 | 163.0 - 165.0 |       164.00 |         3 |       3.6 % |     3 |    80 |   3.6 % |  96.4 % |
|  3 | 166.0 - 168.0 |       167.00 |         8 |       9.6 % |     6 |    77 |   7.2 % |  92.8 % |
|  4 | 169.0 - 171.0 |       170.00 |        19 |      22.9 % |    14 |    69 |  16.9 % |  83.1 % |
|  5 | 172.0 - 174.0 |       173.00 |         8 |       9.6 % |    33 |    50 |  39.8 % |  60.2 % |
|  6 | 175.0 - 177.0 |       176.00 |        17 |      20.5 % |    41 |    42 |  49.4 % |  50.6 % |
|  7 | 178.0 - 180.0 |       179.00 |         8 |       9.6 % |    58 |    25 |  69.9 % |  30.1 % |
|  8 | 181.0 - 183.0 |       182.00 |         1 |       1.2 % |    66 |    17 |  79.5 % |  20.5 % |
+-------------------------------------------------------------------------------------------------+
|                                   |        67 |      80.7 % |    67 |    16 |  80.7 % |  19.3 % |
+-------------------------------------------------------------------------------------------------+
[ Menampilkan 67 / 83 ]. Dibutuhkan koreksi manual: 0.9

+-------------------------------------------------------------------------------------------------+
| No |     Kelas     | Titik Tengah | Frekuensi |  F. Relatif |  F. Kumulatif |       F. RK       |
+-------------------------------------------------------------------------------------------------+
|  1 | 160.0 - 162.9 |       161.45 |         5 |       6.0 % |     0 |    83 |   0.0 % | 100.0 % |
|  2 | 163.0 - 165.9 |       164.45 |         5 |       6.0 % |     5 |    78 |   6.0 % |  94.0 % |
|  3 | 166.0 - 168.9 |       167.45 |        11 |      13.3 % |    10 |    73 |  12.0 % |  88.0 % |
|  4 | 169.0 - 171.9 |       170.45 |        21 |      25.3 % |    21 |    62 |  25.3 % |  74.7 % |
|  5 | 172.0 - 174.9 |       173.45 |        12 |      14.5 % |    42 |    41 |  50.6 % |  49.4 % |
|  6 | 175.0 - 177.9 |       176.45 |        20 |      24.1 % |    54 |    29 |  65.1 % |  34.9 % |
|  7 | 178.0 - 180.9 |       179.45 |         8 |       9.6 % |    74 |     9 |  89.2 % |  10.8 % |
|  8 | 181.0 - 183.9 |       182.45 |         1 |       1.2 % |    82 |     1 |  98.8 % |   1.2 % |
+-------------------------------------------------------------------------------------------------+
|                                   |        83 |     100.0 % |    83 |     0 | 100.0 % |   0.0 % |
+-------------------------------------------------------------------------------------------------+

## Ukuran Pusat

In [9]:
menu_upt()

Ukuran Pusat
Mean          : 172.04
Median        : 171.88
Modus         : 170.53
Rata-rata ukur:  1.997

## Ukuran Penyebaran

In [10]:
menu_upb()

Ukuran Penyebaran
Range               : 20.700
Range Quartil       :  3.653
Simpangan Rata-rata :  4.212
Ragam               : 25.230
Simpangan Baku      :  5.023

## Quartil, Quantil, Tetril dan Persentil

In [11]:
quartil(3)

176.1875

In [12]:
quantil(3)

173.89999999999998

In [13]:
tetril(7)

175.565

In [14]:
persentil(76)

176.31199999999998